& when (@media-common = true) {

  #sashakh-chat-block {
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    float: right;

    .sashakh-chat-destroy-button {
      border: none;
      background: transparent;
      font-size: 20px;
      padding: 0 5px;
      line-height: 1.5;
      box-shadow: none;
    }

    .sashakh-chat-open-button {
      &:before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 28px;
        line-height: 28px;
        color: @color-gray46;
        content: '\e620';
        font-family: 'luma-icons';
        margin: 0;
        vertical-align: top;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
      }
    }
  }

  #sashakh-chat-form {
    padding-bottom: @modal-popup__padding;
    max-width: 100%;
    fieldset {
      max-width: 100%;
    }
  }

  .messages-list {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    padding: 5px 9px;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: baseline;
    max-width: 100%;
    box-sizing: border-box;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    list-style: none;

    .chat-message {
      width: 60%;
      font-size: 14px;
      word-wrap: break-word;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -o-pre-wrap;
      overflow-wrap: break-word;
      span {
        font-size: 14px;
      }
    }

    .chat-message.user {
      text-align: right;
      width: 60%;
      background: @color-sky-blue1;
      color: @color-gray19;
      margin-left: auto;
      margin-right: 0;
      padding: 5px;
      font-size: 14px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      word-wrap: break-word;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -o-pre-wrap;
      overflow-wrap: break-word;
    }

    .chat-message.admin {
      text-align: left;
      width: 60%;
      background: @color-yellow-light2;
      color: @color-gray19;
      margin-right: auto;
      margin-left: 0;
      padding: 5px;
      font-size: 14px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      word-wrap: break-word;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -o-pre-wrap;
      overflow-wrap: break-word;
    }

    .user-question {
      text-align: right;
      width: 60%;
      background: @color-sky-blue1;
      color: @color-gray19;
      margin-left: auto;
      margin-right: 0;
      font-size: 14px;
      word-wrap: break-word;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -o-pre-wrap;
      overflow-wrap: break-word;
    }

    .user-date {
      border-top-left-radius: 20px;
      padding-top: 5px;
      margin-bottom: 0;
    }

    .user-name {
      padding-top: 5px;
      margin-bottom: 0;
    }

    .user-message {
      border-bottom-left-radius: 20px;
      padding-bottom: 5px;
      margin-bottom: 10px;
    }

    .admin-question {
      text-align: left;
      width: 60%;
      background: @color-yellow-light2;
      color: @color-gray19;
      margin-left: 0;
      margin-right: auto;
      font-size: 14px;
      word-wrap: break-word;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -o-pre-wrap;
      overflow-wrap: break-word;
    }

    .admin-date {
      border-top-right-radius: 20px;
      padding-top: 5px;
      margin-bottom: 0;
    }

    .admin-name {
      margin-bottom: 0;
      padding-top: 5px;
    }

    .admin-message {
      border-bottom-right-radius: 20px;
      padding-bottom: 5px;
      margin-bottom: 10px;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

  #sashakh-chat-block {
    display: flex;
    align-items: center;
    bottom: 50px;
    position: fixed;
    right: 30px;
    z-index: 10;

    .sashakh-chat-destroy-button {
      font-size: 30px;
      color: @theme__color__secondary;
    }

    .sashakh-chat-open-button {
      display: inline-block;
      &:before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 60px;
        line-height: 70px;
        color: @theme__color__secondary;
        content: '\e620';
        font-family: 'luma-icons';
        margin: 0;
        vertical-align: top;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
      }
    }
  }
}
