& when (@media-common = true) {
  .sashakh-chat-open-button {
       display: none;
     }

  .sashakh-chat-open-button-mobile {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    float: right;

    &:before {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 28px;
      line-height: 28px;
      color: @color-gray46;
      content: '\e620';
      font-family: 'luma-icons';
      margin: 0;
      vertical-align: top;
      display: inline-block;
      font-weight: normal;
      overflow: hidden;
      speak: none;
      text-align: center;
    }

    &.active {
     /* right: 30px;*/
    }
  }

  #sashakh-chat-sidebar {
    background-color: @color-white;
    border: @border-width__base solid @border-color__base;
    bottom: 30px;
    display: block;
    max-height: 400px;
    padding: 30px;
    position: fixed;
    right: -360px;
    transition-property: right;
    transition-duration: .3s;
    overflow-y: scroll;
    width: 300px;

    &.active {
      right: 0;
    }
  }

  #sashakh-chat-form {
    padding-bottom: @modal-popup__padding;
    max-width: 100%;

    fieldset {
      max-width: 100%;
    }
  }

  .messages-list {
    display: none;
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    padding: 5px 9px;
    vertical-align: baseline;
    max-width: 100%;
    box-sizing: border-box;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;

    .user-question {
      text-align: right;
      width: 60%;
      background: @color-sky-blue1;
      color: @color-gray19;
      margin-left: auto;
      margin-right: 0;
      word-wrap: break-word;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -o-pre-wrap;
      overflow-wrap: break-word;
    }

    .user-name {
      border-top-left-radius: 20px;
      padding-top: 5px;
      margin-bottom: 0;
    }

    .user-message {
      border-bottom-left-radius: 20px;
      padding-bottom: 5px;
      margin-bottom: 10px;
    }

    .admin-question {
      text-align: left;
      width: 60%;
      background: @color-yellow-light2;
      color: @color-gray19;
      margin-left: 0;
      margin-right: auto;
      word-wrap: break-word;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -o-pre-wrap;
      overflow-wrap: break-word;
    }

    .admin-name {
      border-top-right-radius: 20px;
      padding-top: 5px;
      margin-bottom: 0;
    }

    .admin-message {
      border-bottom-right-radius: 20px;
      padding-bottom: 5px;
      margin-bottom: 10px;
    }
  }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .sashakh-chat-open-button {
    display: block;
    bottom: 50px;
    position: fixed;
    right: -62px;
    transition-property: right;
    transition-duration: .3s;
    z-index: 10;

    &:before {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 60px;
      line-height: 70px;
      color: @theme__color__secondary;
      content: '\e620';
      font-family: 'luma-icons';
      margin: 0;
      vertical-align: top;
      display: inline-block;
      font-weight: normal;
      overflow: hidden;
      speak: none;
      text-align: center;
    }

    &.active {
      right: 30px;
    }
  }

  .sashakh-chat-open-button-mobile {
    display: none;
  }
}
