& when (@media-common = true) {
  .sashakh-chat-open-button {
    background-color: @color-white;
    border: @border-width__base solid @border-color__base;
    bottom: 30px;
    position: fixed;
    right: 0;
    padding: 20px;
    text-orientation: upright;
    writing-mode: vertical-rl;
  }
}